/* Defaults */
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Body content (default background, text properties) */
body {
    font-family: sans-serif;
    background-color:  #2f2f2f;
    color: rgb(212, 212, 212);
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Body paragraph properties */
body p {
    font-size: 18px;
    font-weight:100;
}

/* Class to separate body images from <p> elements */
.bodyText {
    background-color: #222223;
    border-radius: 9px;
    padding: 1px 20px 1px 20px;
}

/* Quotes */
.quotes {
    display: block;
    margin: 0 auto;
    background-color: #222223;
    border-radius: 9px;
    padding: 1px 20px 25px 20px;
    align-items: center;
    text-align: center;
}

/* Headings */
h1 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    font-weight: bold;
}

/* Navigation bar */
.nav {
    background-color:  #222223;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Move the nav bar slightly so the icon doesn't push it off-center */
#navtext {
    flex-grow: 1;
    text-align: center;
    transform: translatex(-32px);
}

/* Default nav bar link properties */
.nav p a {
    color: #A7A3A3;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

/* Change color when hovering over nav bar link */
.nav p a:hover {
    color: #474747;
}

/* Container for <img> and <p> combinations */
.container {
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
    margin-right:350px;
    margin-left:350px;
}

/* Container for polls */
.subContainer {
    background-color: #222223;
    border-radius: 9px;
    padding: 1px 20px 20px 20px;
    margin: 0px 10px 0px 10px
}

/* Empty space (added before footer to ensure it always stays on page) */
.space {
    flex-grow: 1;
}

/* Images positioned to the left of text */
.leftImage {
    margin-right: 20px;
    object-fit: cover;
    height: auto;
}

/* Images positioned to the right of text */
.rightImage {
    margin-left: 20px;
}

/* Images with captions underneath */
.imgCaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 20px;
    text-decoration: none;
    color: rgb(212, 212, 212);
}

.imgCaption img {
    display:block;
}

.images {
    display: flex;
    justify-content:center;
}

/* Change color when hovering over caption link */
.imgCaption:hover {
    color: #474747;
}

/* Footer */
footer {
    background-color:  #222223;
    color: #A7A3A3;
    text-align: center;
    padding: 1px 20px 1px 20px;
    margin-top: 40px;
}